[Unit]
Description=YT-HOME Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/YT-HOME/
ExecStart=/usr/local/YT-HOME/YTHOME
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target